div.headers-list.js-tabs
    a(
        class = 'headers-list__item js-films-header headers-list__item--active js-tab-header'
        href='#'
    ) Фильмы
    a(
        class='headers-list__item js-tab-header js-bookmarks-header'
        href='#'
    ) Закладки
